@import 'compass/utilities/sprites';
@import "./hook-mixins/normalize";
@import './hook-mixins/retinaSpriter';
@import './hook-mixins/standardSpriter';



/** set up variables **/
$width: 970px;
$height: 250px;

$expanded-width: 970px;
$expanded-height: 250px;

$white: #FFFFFF;
$whitetrans: rgba(255, 255, 255, 0);
$black: #000000;
$blue: #FF0000;
$sprite-padding: 2px;

// spritsheets

//uncomment if needed
/*
$common-map: sprite-map('common/*.png' , $layout: horizontal, $spacing: $sprite-padding);
$collapsed-map: sprite-map('collapsed/*.png' , $layout: horizontal, $spacing: $sprite-padding);
$expand-map: sprite-map('expand/*.png' , $layout: horizontal, $spacing: $sprite-padding);
*/


// global

.border {

  background-color: black;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;

}

.left-collapsed-border {

  @extend .border;
  height: $height;


}

.left-expanded-border {

  @extend .border;
  height: $expanded-height;


}
.right-collapsed-border {

  @extend .border;
  height: $height;
  left: $width - 1;


}

.right-expanded-border {

  @extend .border;
  height: $expanded-height;
  left: $width - 1;


}

.top-collapsed-border {

  @extend .border;
  width: $width;



}

.top-expanded-border {

  @extend .border;
  width: $expanded-width;



}

.bottom-collapsed-border {

  @extend .border;
  width: $width;
  top: $height - 1;


}

.bottom-expanded-border {

  @extend .border;
  width: $expanded-width;
  top: $expanded-height - 1;


}



.size-collapsed {

  width: $width;
  height: $height;
}
.size-expanded {

  width: $expanded-width;
  height: $expanded-height;
}


// Root Scope
#adRoot {
  position: absolute;

}

//Collapsed Scope
#collapsedContainer {
  position: absolute;

  #content {
    background-color: $black;
    position: absolute;
    width: $width;
    height: $height;

  }


}


//Auto Expand Scope
#expandedContainer {
  position: absolute;
  #content {
    background-color: $blue;
    position: absolute;
    width: $width;
    height: $height;

  }

}