@import 'compass/utilities/sprites';
@import "./hook-mixins/normalize";
@import './hook-mixins/retinaSpriter';
@import './hook-mixins/standardSpriter';

@import './_collapsed';
@import './autoexpanded';
@import './userexpanded';


/** set up variables **/
$width: 300px;
$height: 250px;

$white: #FFFFFF;
$whitetrans: rgba(255, 255, 255, 0);
$black: #000000;
$blue: #FF0000;


//uncomment if needed
/*
$common-map: sprite-map('common/*.png' , $layout: horizontal, $spacing: 2px);
*/

// scope
#adRoot {


}