@mixin standard-spriter ($sMap,$spriteKey ) {
  

  $height : image-height(sprite-file($sMap,$spriteKey)) ;
  $width : image-width(sprite-file($sMap, $spriteKey)) ;
  
  background: sprite( $sMap , $spriteKey);
  width : $width;
  height : $height;
  overflow : hidden;
  
  


}